* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 13px;
}
body {
  background-color: #202020;
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  margin: 20px;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
header {
  margin-bottom: 20px;
  margin-right: 1.5%;
}
header h1 {
  font-size: 1.2rem;
  font-weight: bold;
}
header nav {
  font-size: .75rem;
  margin-top: 5px;
}
header .day-header {
  float: right;
  font-size: 3rem;
}
.panel {
  border: 1px solid #eeeeee;
  float: left;
  height: 40%;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  width: 49%;
}
.panel h2 {
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
  margin-bottom: 10px;
}
.panel.game-panel .log-output strong {
  font-size: 1.1rem;
  color: #c02020;
}
.log-output {
  max-height: 90%;
  margin: 0 auto;
  overflow: scroll;
  width: 98%;
}
.log-output li {
  color: #dddddd;
  font-size: .9rem;
  margin-bottom: 4px;
  padding: 1px;
}
.log-output li.log-level-error,
.log-output li.message-important {
  color: #c02020;
}
.log-output li.log-level-important {
  color: #c0c020;
}
.log-output li:before {
  color: #eeeeee;
  content: " > ";
  font-weight: bold;
}
.log-output li:nth-child(even) {
  background-color: #303030;
  color: #eeeeee;
}
.log-output li:nth-child(even).log-level-error,
.log-output li:nth-child(even) .message-important {
  color: #f06060;
}
.log-output li:nth-child(even).log-level-important {
  color: #f0f060;
}
.log-output li:hover {
  background-color: #eeeeee;
  color: #202020;
}
