@primary-background-color: #202020;
@primary-text-color: #eeeeee;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    background-color: @primary-background-color;
    color: @primary-text-color;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

header {
    margin-bottom: 20px;
    margin-right: 1.5%;

    h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    nav {
        font-size: .75rem;
        margin-top: 5px;
    }

    .day-header {
        float: right;
        font-size: 1.25rem;
    }
}

.panel {
    border: 1px solid @primary-text-color;
    float: left;
    height: 40%;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
    width: 49%;

    h2 {
        border-bottom: 1px solid @primary-text-color;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.log-output {
    max-height: 90%;
    margin: 0 auto;
    overflow: scroll;
    width: 98%;

    .log-level-error {
        color: #f06060;
    }

    .log-level-important {
        color: #f0f060;
    }

    li {
        color: #dddddd;
        font-size: .9rem;
        margin-bottom: 4px;
        padding: 1px;

        &:before {
            color: @primary-text-color;
            content: " > ";
            font-weight: bold;
        }

        &:nth-child(even) {
            background-color: #303030;
            color: @primary-text-color;

            &.log-level-error {
                color: #f03030;
            }

            &.log-level-important {
                color: #f0f030;
            }
        }
        
        &:hover {
            background-color: @primary-text-color;
            color: @primary-background-color;
        }
    }
}